[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
authlib = "*"
requests = "*"
pytest = "*"
importlib = "*"
beautifulsoup4 = "*"
pyjwt = {extras = ["crypto"], version = "*"}
pytest-order = "*"
gunicorn = "*"
playwright = "*"
pytest-playwright = "*"

[dev-packages]

[requires]
python_version = "3.14"
