<!doctype html>
<html>
	<head>
		{% block defaultMeta %}
			{% for metaTag in config.DEFAULTPAGEMETA -%}
				<meta{% for key, value in metaTag.items() %} {{ key }}="{{ value }}"{% endfor %}>
			{% endfor -%}
		{% endblock %}
		<meta name="robots" content="nofollow, noindex" >
		{% block addMetaTags %}{% endblock %}
		<title>{% block title %}{% endblock %}</title> 

	</head>
	<header>
		{% block header %}{% endblock %}
	</header>
	<body>
		{% block content %}{% endblock %}
	</body>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
</html>